services:
  build-template-artifacts:
    image: ubuntu:22.04
    working_dir: /dcs-for-azure-templates
    volumes:
      - $PWD:/dcs-for-azure-templates
    command: >
      sh -c "
             mkdir -p releases
             apt-get update &&
             apt-get install -y zip &&
             zip dcsazure_adls_to_adls_prof_pl.zip dcsazure_adls_to_adls_prof_pl/* &&
             zip dcsazure_adls_to_adls_mask_pl.zip dcsazure_adls_to_adls_mask_pl/* &&
             zip dcsazure_Snowflake_Legacy_to_Snowflake_Legacy_prof_pl.zip dcsazure_Snowflake_Legacy_to_Snowflake_Legacy_prof_pl/* &&
             zip dcsazure_Snowflake_Legacy_to_Snowflake_Legacy_mask_pl.zip dcsazure_Snowflake_Legacy_to_Snowflake_Legacy_mask_pl/* &&
             zip dcsazure_Snowflake_to_Snowflake_prof_pl.zip dcsazure_Snowflake_to_Snowflake_prof_pl/* &&
             zip dcsazure_Snowflake_to_Snowflake_mask_pl.zip dcsazure_Snowflake_to_Snowflake_mask_pl/* &&
             zip dcsazure_Databricks_to_Databricks_prof_pl.zip dcsazure_Databricks_to_Databricks_prof_pl/* &&
             zip dcsazure_Databricks_to_Databricks_mask_pl.zip dcsazure_Databricks_to_Databricks_mask_pl/* &&
             zip dcsazure_AzureSQL_to_AzureSQL_prof_pl.zip dcsazure_AzureSQL_to_AzureSQL_prof_pl/* &&
             zip dcsazure_AzureSQL_to_AzureSQL_mask_pl.zip dcsazure_AzureSQL_to_AzureSQL_mask_pl/* &&
             mv *.zip releases/."
