services:
  build-template-artifacts:
    image: ubuntu:22.04
    working_dir: /dcs-for-azure-templates
    volumes:
      - $PWD:/dcs-for-azure-templates
    command: >
      sh -c "
             mkdir -p releases
             apt-get update &&
             apt-get install -y zip &&
             mkdir -p releases &&
             
             cp LICENSE dcsazure_ADLS_to_ADLS_delimited_discovery_pl/LICENSE &&
             cp VERSION.md dcsazure_ADLS_to_ADLS_delimited_discovery_pl/VERSION.md &&
             zip dcsazure_ADLS_to_ADLS_delimited_discovery_pl.zip dcsazure_ADLS_to_ADLS_delimited_discovery_pl/* &&
             
             cp LICENSE dcsazure_ADLS_to_ADLS_delimited_mask_pl/LICENSE &&
             cp VERSION.md dcsazure_ADLS_to_ADLS_delimited_mask_pl/VERSION.md &&
             zip dcsazure_ADLS_to_ADLS_delimited_mask_pl.zip dcsazure_ADLS_to_ADLS_delimited_mask_pl/* &&
             
             cp LICENSE dcsazure_ADLS_to_ADLS_parquet_discovery_pl/LICENSE &&
             cp VERSION.md dcsazure_ADLS_to_ADLS_parquet_discovery_pl/VERSION.md &&
             zip dcsazure_ADLS_to_ADLS_parquet_discovery_pl.zip dcsazure_ADLS_to_ADLS_parquet_discovery_pl/* &&
            
             cp LICENSE dcsazure_ADLS_to_ADLS_parquet_mask_pl/LICENSE &&
             cp VERSION.md dcsazure_ADLS_to_ADLS_parquet_mask_pl/VERSION.md &&
             zip dcsazure_ADLS_to_ADLS_parquet_mask_pl.zip dcsazure_ADLS_to_ADLS_parquet_mask_pl/* &&
             
             cp LICENSE dcsazure_Snowflake_to_Snowflake_discovery_pl/LICENSE &&
             cp VERSION.md dcsazure_Snowflake_to_Snowflake_discovery_pl/VERSION.md &&
             zip dcsazure_Snowflake_to_Snowflake_discovery_pl.zip dcsazure_Snowflake_to_Snowflake_discovery_pl/* &&
             
             cp LICENSE dcsazure_Snowflake_to_Snowflake_mask_pl/LICENSE &&
             cp VERSION.md dcsazure_Snowflake_to_Snowflake_mask_pl/VERSION.md &&
             zip dcsazure_Snowflake_to_Snowflake_mask_pl.zip dcsazure_Snowflake_to_Snowflake_mask_pl/* &&
             
             cp LICENSE dcsazure_Databricks_to_Databricks_discovery_pl/LICENSE &&
             cp VERSION.md dcsazure_Databricks_to_Databricks_discovery_pl/VERSION.md &&
             zip dcsazure_Databricks_to_Databricks_discovery_pl.zip dcsazure_Databricks_to_Databricks_discovery_pl/* &&
             
             cp LICENSE dcsazure_Databricks_to_Databricks_mask_pl/LICENSE &&
             cp VERSION.md dcsazure_Databricks_to_Databricks_mask_pl/VERSION.md &&
             zip dcsazure_Databricks_to_Databricks_mask_pl.zip dcsazure_Databricks_to_Databricks_mask_pl/* &&
             
             cp LICENSE dcsazure_AzureSQL_to_AzureSQL_discovery_pl/LICENSE &&
             cp VERSION.md dcsazure_AzureSQL_to_AzureSQL_discovery_pl/VERSION.md &&
             zip dcsazure_AzureSQL_to_AzureSQL_discovery_pl.zip dcsazure_AzureSQL_to_AzureSQL_discovery_pl/* &&
             
             cp LICENSE dcsazure_AzureSQL_to_AzureSQL_mask_pl/LICENSE &&
             cp VERSION.md dcsazure_AzureSQL_to_AzureSQL_mask_pl/VERSION.md &&
             zip dcsazure_AzureSQL_to_AzureSQL_mask_pl.zip dcsazure_AzureSQL_to_AzureSQL_mask_pl/* &&
             
             cp LICENSE dcsazure_AzureSQL_MI_to_AzureSQL_MI_discovery_pl/LICENSE &&
             cp VERSION.md dcsazure_AzureSQL_MI_to_AzureSQL_MI_discovery_pl/VERSION.md &&
             zip dcsazure_AzureSQL_MI_to_AzureSQL_MI_discovery_pl.zip dcsazure_AzureSQL_MI_to_AzureSQL_MI_discovery_pl/* &&
             
             cp LICENSE dcsazure_AzureSQL_MI_to_AzureSQL_MI_mask_pl/LICENSE &&
             cp VERSION.md dcsazure_AzureSQL_MI_to_AzureSQL_MI_mask_pl/VERSION.md &&
             zip dcsazure_AzureSQL_MI_to_AzureSQL_MI_mask_pl.zip dcsazure_AzureSQL_MI_to_AzureSQL_MI_mask_pl/* &&

             cp LICENSE dcsazure_Dataverse_to_Dataverse_in_place_discovery_pl/LICENSE &&
             cp VERSION.md dcsazure_Dataverse_to_Dataverse_in_place_discovery_pl/VERSION.md &&
             zip dcsazure_Dataverse_to_Dataverse_in_place_discovery_pl.zip dcsazure_Dataverse_to_Dataverse_in_place_discovery_pl/* &&
             
             cp LICENSE dcsazure_Dataverse_to_Dataverse_in_place_mask_pl/LICENSE &&
             cp VERSION.md dcsazure_Dataverse_to_Dataverse_in_place_mask_pl/VERSION.md &&
             zip dcsazure_Dataverse_to_Dataverse_in_place_mask_pl.zip dcsazure_Dataverse_to_Dataverse_in_place_mask_pl/* &&

             cp LICENSE dcsazure_Azure_Postgres_to_Azure_Postgres_discovery_pl/LICENSE &&
             cp VERSION.md dcsazure_Azure_Postgres_to_Azure_Postgres_discovery_pl/VERSION.md &&
             zip dcsazure_Azure_Postgres_to_Azure_Postgres_discovery_pl.zip dcsazure_Azure_Postgres_to_Azure_Postgres_discovery_pl/* &&

             cp LICENSE dcsazure_Azure_Postgres_to_Azure_Postgres_mask_pl/LICENSE &&
             cp VERSION.md dcsazure_Azure_Postgres_to_Azure_Postgres_mask_pl/VERSION.md &&
             zip dcsazure_Azure_Postgres_to_Azure_Postgres_mask_pl.zip dcsazure_Azure_Postgres_to_Azure_Postgres_mask_pl/* &&

             cp LICENSE dcsazure_Cosmos_NoSQL_to_Cosmos_NoSQL_discovery_pl/LICENSE &&
             cp VERSION.md dcsazure_Cosmos_NoSQL_to_Cosmos_NoSQL_discovery_pl/VERSION.md &&
             zip dcsazure_Cosmos_NoSQL_to_Cosmos_NoSQL_discovery_pl.zip dcsazure_Cosmos_NoSQL_to_Cosmos_NoSQL_discovery_pl/* &&

             cp LICENSE dcsazure_Cosmos_NoSQL_to_Cosmos_NoSQL_mask_pl/LICENSE &&
             cp VERSION.md dcsazure_Cosmos_NoSQL_to_Cosmos_NoSQL_mask_pl/VERSION.md &&
             zip dcsazure_Cosmos_NoSQL_to_Cosmos_NoSQL_mask_pl.zip dcsazure_Cosmos_NoSQL_to_Cosmos_NoSQL_mask_pl/* &&

             zip -j Cosmos_to_ADLS.zip \
             dcsazure_Cosmos_NoSQL_to_Cosmos_NoSQL_discovery_pl/Cosmos_to_ADLS/function_app.py \
             dcsazure_Cosmos_NoSQL_to_Cosmos_NoSQL_discovery_pl/Cosmos_to_ADLS/host.json \
             dcsazure_Cosmos_NoSQL_to_Cosmos_NoSQL_discovery_pl/Cosmos_to_ADLS/requirements.txt &&

             zip -j ADLS_to_Cosmos.zip \
             dcsazure_Cosmos_NoSQL_to_Cosmos_NoSQL_mask_pl/ADLS_to_Cosmos/function_app.py \
             dcsazure_Cosmos_NoSQL_to_Cosmos_NoSQL_mask_pl/ADLS_to_Cosmos/host.json \
             dcsazure_Cosmos_NoSQL_to_Cosmos_NoSQL_mask_pl/ADLS_to_Cosmos/requirements.txt &&


             rm *_pl/LICENSE &&
             rm *_pl/VERSION.md &&
             mv *.zip releases/."
